@media (max-widht:1350px) {
    body {
        background: linear-gradient(180deg, #ED2727 0%, rgba(23, 158, 255, 0.00) 100%), linear-gradient(180deg, rgba(0, 168, 221, 0.45) 0%, rgba(185, 0, 201, 0.00) 100%), linear-gradient(180deg, #000 0%, rgba(3, 13, 38, 0.53) 100%);
        background-blend-mode: multiply, normal, normal;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
    }

    .big_title {
        font-size: 40px;
    }
}

@media (max-width:1110px) {

    .big_title {
        font-size: 40px;
    }

    .big_text {
        width: 400px;
    }

    .strelka_1 {
        left: 320px;
    }

    .strelka_2 {
        left: 280px;
    }

    .strelka_3 {
        left: 200px;
    }

    .header {
        width: 1000px;
        display: block;
        margin: 0 auto;

    }

    .product_box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
    }

    .product_box_2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
    }

    .product_box_3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
    }
}

@media (max-width:1050px) {
    .container {
        width: 900px;
    }

    .header {
        background: transparent;
        backdrop-filter: blur(0px);
        width: 800px;
    }

    .nav_link_3,
    .nav_link_2,
    .nav_link_0,
    .nav_link_01 {
        display: none;

    }

    .karzina {
        display: block;
    }

    .nav_menu {
        display: block;
    }

    .strelka_3,
    .strelka_2,
    .strelka_1 {
        display: none;
    }

    .img_1 {
        width: 600px;
    }

    .big_title {
        font-size: 35px;
    }

    .big_text {
        width: 300px;
    }

    .text_card {
        display: flex;
        flex-direction: column;

    }

    .text_card_3 {
        display: none;
    }

    .terminal_big {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .telminal_texts {
        display: block;
        margin: 0 auto;
    }

    .tetminal_card {
        text-align: center;
    }

    .main_title {
        font-size: 35px;
    }

    .main_texts {
        display: flex;
        justify-content: flex-start;
        gap: 50px;
    }

    .product_box,
    .product_box_2 {
        width: 850px;
    }

    .img_1 {
        width: 500px;
        margin-top: 60px;
    }

    .main_big {
        display: flex;
        justify-content: flex-end;


    }
}

@media(max-width:920px) {
    body {
        max-width: 700px;
    }
    .nav_logo img{
        width: 100px;
    }
    .karzina{
        display: flex;
        gap: 10px;
    }

    .container {
        width: 800px;
    }

    .product_box,
    .product_box_2 {
        width: 700px;
    }

    .text_card {
        position: relative;
    }

    .main_big {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main_big_texts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .img_1 {
        position: relative;
    }

    .text_card_3 {
        display: block;
    }

    .footer_text p {
        width: 300px;
    }

    .product_title {
        font-size: 30px;
    }

    .tetminal_card_2 {
        margin: 30px;
    }

    .tetminal_card_2 p {
        width: 400px;
    }

    .tetminal_card_3 p {
        width: 400px;
    }

    .header {
        max-width: 700px;
        width: 100%;
    }

    .footer_text,
    .footer_text_2 {
        display: none;
    }
}

@media (max-width:750px) {
    .container {
        max-width: 700px;
        width: 100%;

    }

    .header {
        max-width: 400px;
    }

    .header_title {
        font-size: 20px;
        width: 200px;
    }

    .header_text {
        width: 250px;
        margin-top: 10px;
    }

    .header_link_2 {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .header_text_2 {
        margin-left: 100px;
    }

    .img_terminal img {
        width: 500px;
    }

    .product_box {
        width: auto;
        display: flex;
        justify-content: center;
    }

    .product_box_2 {
        width: auto;
        display: flex;
        justify-content: center;
    }

    .footer_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

    }

    .bb {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_2 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_3 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_4 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_5 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_6 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_7 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_8 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_9 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_10 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_11 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_12 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_13 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_14 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bb_15 {
        width: 100px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .product_box {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }

    .product_box_2 {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }


}
@media (max-width:550px){
     body{
     
        width: 100%;
            background: linear-gradient(180deg, #ED2727 0%, rgba(23, 158, 255, 0.00) 100%), linear-gradient(180deg, rgba(0, 168, 221, 0.45) 0%, rgba(185, 0, 201, 0.00) 100%), linear-gradient(180deg, #000 0%, rgba(3, 13, 38, 0.53) 100%);
                background-blend-mode: multiply, normal, normal;
     }
    .container{
        max-width: 500px;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
           .bb {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
    
           .bb_2 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
    
           .bb_3 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
    
           .bb_4 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: repeat;
           }
    
           .bb_5 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
    
           .bb_6 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
    
           .bb_7 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
    
           .bb_8 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
    
           .bb_9 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
    
           .bb_10 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
    
           .bb_11 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
    
           .bb_12 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
    
           .bb_13 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
    
           .bb_14 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
    
           .bb_15 {
               width: 300px;
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
           }
           .footer{
            display: none;
           }
           .sharik_terminal_2{
            display: none;
           }
           .img_terminal img{
            width: 400px;
           }
           .menu_backet a{
        color: black;
        font-size: 25px;
           }
           .menu_backet a:hover{
            text-decoration: underline;
            text-shadow: 0px 0px 5px 0px rgba(252, 181, 0, 0.71);
                color: rgba(252, 181, 0, 0.71);
           }
}
@media (max-width:480px){
    .container{
        width: 400px;
        display: block; 
        margin: 0 auto;
    }
    .product_box{
            display: flex;
                flex-direction: column;
                justify-content: center;
    }
    .product_box_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tetminal_card_2 p{
        width: 200px;
        text-align: center;
            display: block;
                margin: 0 auto;
    }
    .tetminal_card_3 p{
    width: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;
    }
    .terminal_title{
        width: 250px;
        font-size: 18px;
    }
          .img_terminal img {
              width: 350px;
          }
     .menu_backet{
        display: block;
     }
     .nav_infoo{
      width: 300px;
     }
    .karzina_img{
        display: none;
    }
    .img_1{
        width: 350px;
    }
    .header_link_2{
        font-size: 13px;
        width: auto;
        height: auto;
        padding: 10px;
    }
    

    
}